$color_1: var(--fmd-field-input-color);
$color_2: var(--fmd-field-label-color);
$font-family_1: inherit;
$background-color_1: var(--fmd-background-color);
$background-color_2: transparent;

.fmd-root {
  --fmd-background-color: #121212;
  --fmd-field-input-color: #ffffff;
  --fmd-field-input-border-color: #242424;
  --fmd-field-label-color: #808080;
}
.fmd {
  display: flex;
  flex-direction: column;
  background-color: $background-color_1;
  border-radius: 10px;
}
.fmd-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;
}
.fmd-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fmd-interactive {
  width: 100%;
  height: 100%;
  user-select: none;
  touch-action: none;
}
.fmd-saturation {
  cursor: all-scroll;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, transparent, black),
    linear-gradient(to right, white, transparent);
  border-radius: 10px 10px 0 0;
}
.fmd-saturation-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.15);
  transform: translate(-10px, -10px);
}
.fmd-hue {
  cursor: ew-resize;
  position: relative;
  width: 100%;
  height: 12px;
  background-image: linear-gradient(
    to right,
    rgb(255, 0, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
  border-radius: 10px;
}
.fmd-hue-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.15);
  transform: translate(-10px, -4px);
}
.fmd-alpha {
  cursor: ew-resize;
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 10px;
}
.fmd-alpha-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 0.15);
  transform: translate(-10px, -4px);
}
.fmd-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fmd-fields-floor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}
.fmd-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.fmd-field-input {
  width: 100%;
  font-family: $font-family_1;
  font-size: 14px;
  text-align: center;
  color: $color_1;
  background-color: $background-color_2;
  border: 2px solid var(--fmd-field-input-border-color);
  border-radius: 5px;
  outline: none;
  padding: 5px 0;
}
.fmd-field-label {
  font-size: 14px;
  text-align: center;
  color: $color_2;
}
